:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.tracking_body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
/* a:link,
a:visited {
  color: var(--color-brand--1);
} */

/* SIDEBAR */
.sidebar {
  flex-basis: 25rem;
  background-color: var(--color-dark--1);
  padding: 3rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 5.2rem;
  align-self: center;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 0.8rem 0.25rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: -0.25rem 0.5rem;
  margin-top: 10px;
}
.workout__running {
  border-left: 5px solid var(--color-brand--2);
}
.workout__cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 16px;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 15px;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 14px;
  margin-right: 2px;
}

.workout__unit {
  font-size: auto;
  color: var(--color-light--1);
  text-transform: uppercase;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 18px 14px;
  /* margin-bottom: 1.75rem; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 0.8rem;
  height: 100px;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row_hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

.form__input {
  width: 100%;
  padding: 2px 3px 2px 2px;
  font-family: inherit;
  font-size: 13px;
  border: none;
  text-align: center;
  border-radius: 3px;
  background-color: var(--color-light--3);
  color: var(--color-dark--1);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet_popup .leaflet_popup_content_wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet_popup .leaflet_popup_content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running_popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
