.Home__container{
    background: #F6F8F9;
    margin-top: 60px;
    padding-top: 10px;
}
.Header__container{
    /* max-width: 1163px; */
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2rem;
    top: 5%;
   
   
}

.header1,
.header2,
.header3{
    letter-spacing: 1.68px;
}

.header1{
    color: #00AD95;
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.header2{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2.52px;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.header3 {
    font-size: 70px;
    letter-spacing: 0.01em;
    line-height: 66px;
    margin: 0 0 25px;
    font-weight: 700;
}

.header__button {
    position: relative;
    /* border: 1px solid black; */
    max-width: 600px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-top: 3rem;
    /* background-color: black; */
}

.header__button button{
    min-width: 265px;
    height: 40px;
    border: 2px solid;
    border-color: var(--button-color2);
    border-radius: 0.3rem;
    font-size: 1rem;
    letter-spacing: 1.68px;
    transition: .3s;
}
.btn1{
    background-color: var(--button-color1);
}
.btn2{
    background-color: var(--button-color2);
    color: white;
    font-weight: 500;

}

.btn1:hover{
    background-color: var(--button-color2);
}
.btn2:hover{
    background-color: var(--button-color1);
    color: black;
}

.btn2__text{
    color: var(--button-color2);
}

.Signin__google{
    max-width:500px ;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    margin: auto;
}

.Signin__google-icon{
    font-size: 1.4rem;
    /* border: 1px solid; */
    padding: 0px;
    margin-right: 10px;
    margin-top: 10px;
}
.Signin__google-link{
    font-weight: bold;

    font-size: 1rem;
    color: black;
    z-index: 1;
    margin-top: 10px;
}

.Signin__google-link:hover{
    /* color: var(--button-color2); */
    color:#ed565a;
    transition: .5s;
     /*letter-spacing: 1px; */
}


.header__image>img{
    width: 100%;
    /* border: 1px solid; */
    background-color: #F6F8F9;
    margin-bottom: -10px;
}


/* //image sildeshow */

.slide__show{
    width: 100%;
    background-color: white;
    padding: 2rem 3rem;
    /* border: 1px solid; */
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    margin-bottom: 100px;
}
.slide__show>p{
    color: var(--button-color2);
}

/* .slide__container{
    
} */

.slider {
    height: 200px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}



.slide__track{
    display: flex;
    width: calc(250px * 40);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translate(0);
    }
    10%{
        transform: translateX(-250px * 9);
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}
.slide >img{
    width: 100%;
}

/* ===================================== */

.feature__management__container{
    width: 100%;
    background-color: var(--button-color1);
    margin-bottom: 8rem;
}

.feature__management__container>h2{
    letter-spacing: 1.68px;
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 78px;
}

.featureCard__container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin: auto;
   
    /* gap: 1rem; */
}

.featureCard {
    max-width: 370px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: .875rem;
    padding: 1rem;
    background-color: white;

}

.featureCard>h2{
    font-size: 1.5rem;
    font-weight: 700;

}
.featureCard>p{
    color: #7f8488;
}

.featureCard > img{
    width: 100%;
}

/* ====================businessApps__container ===================== */

.businessApps__container{
    max-width: 1200px;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    gap: 3rem;
    margin-bottom: 5rem;
}

.businessApps__container h1{
    font-size: 30px;
    font-weight: 700;
}
.businessApps__container h2{
    font-size: 20px;
    font-weight: 700;
}

.businessApps__favourite{
    max-width: 400px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    text-align: left;
}
.businessApps__favourite>img{
    width: 100%;
}

.businessApps__favourite >p {
    color: #7f8488;
}
.businessApps__favourite>button{
    width: 140px;
    height: 36px;
    text-align: center;
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: 1.68px;
    border: 2px solid black;
    border-radius: 0.3rem;
    margin-top: 1rem;
    transition: 1s;
    background-color:var(--button-color1);
}

.businessApps__favourite>button:hover{
    background-color: black;
    color: white;
}


.appCard__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.appCard{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    text-align: left;
    padding: 5px;
}
.appCard >img{
    width: 70px;
}

.appCard >p{
    color: #7f8488;
}

/* =================Timecards,Budgeting========== */
.budgeting__container{
    width: 100%;
    background: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: space-around;
    
    margin-bottom: 8rem;
}

.cards__container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.budgeting__cards{
    min-width: 300px;
    max-width: 300px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0.1rem;
}
.budgeting__cards >img{
    width: 100%;
}
.budgeting__cards >h2{
    font-size: 24px;
    font-weight: 700;
}
.budgeting__cards >p{
    color: var(--button-color2);
}



/* ======Timesheets ad====== */
.timesheets__container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    margin-bottom: 8rem;
}

.timesheets__Image{
    /* max-width: 590px;
    min-width: 590px; */
    /* width: 100%; */
    /* border: 1px solid; */
    padding:3rem;
    position: relative;
    z-index: 2;
}
.timesheets__Image>img{
    width: 100%;
}

.timesheet__btns{
    display: flex;
    flex-direction: column;
    max-width: 590px;
    min-width: 590px;
    /* border: 1px solid; */
    padding: 1rem;
    align-items:center;
    justify-content: center;
    z-index: 2;
}

.timesheet__btns h1{
    font-size: 35px;
    line-height: 45px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 2rem;
}
.timesheet__btns p{
    font-size: 16px;
    color: var(--button-color2);
    line-height: 20px;
    text-align: left;
}

.timesheets__container-background{
    position:absolute;
    top: 4rem;
    left: 0;
}
.timesheets__container-background >img{
    width: 25%;
}


/* =============Get Started=============*/

.getStarted__container{
    width: 600px;
    /* border: 1px solid
    ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
    padding: 1rem;
    margin-left: 4%;

}

.getStarted__container h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.getStarted__container h2{
    color: var(--button-color2);
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
}


/* ==========Media Screen==============*/

@media screen and (max-width : 1024px){
    .header__button{
        flex-direction: column;
        gap: 2rem;
    }
    .Signin__google{
        margin-top: 1rem;
    }


    .featureCard__container{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }

    .businessApps__container{
        flex-direction: column;
        align-items: center;
    }

    .appCard__container{
        display: grid;
        grid-template-columns: repeat(2,0.8fr);

        justify-items: center;
        padding: 1rem;
    }

    .cards__container{
        flex-direction: column;
        gap: 2rem;
    }

    .timesheets__container{
        flex-direction: column;
        align-items: center;
    }
    .timesheets__container-background >img{
        width: 50%;
    }

    .timesheet__btns>h1{
       text-align:center;
    }
    .timesheet__btns>p{
       text-align:center;
    }

    .getStarted__container{
        align-items:center;
        justify-content: center;
        text-align: center;
        width: 90%;
    }
}