@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body,
button,
input,
textarea {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  /* font-size: 1rem; */
}


:root {
  /* --button-color1 :#F6F8F9;
  --button-color2 :#00AD95; */
  --body-color :#F6F8F9;

  /* ====box shadow===== */
  --shadow : 8px 5px 20px 0px rgb(69 67 96/10%);


}
html{
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #F6F8F9;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F8F9;
  background:#F6F8F9;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;




